{%  extends "base.html" %}

{% block main %}
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">
              <h1 class="h2">{{ teacher.name }}</h1>
              <p>{% for goal in goals %}<span class="badge badge-secondary mr-2">{{ goal }}</span>{% endfor %}
                  Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
              <p>{{ teacher.about }}</p>
            </section>

            <section class="available">
              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

                {% for (code, name), free in time_table.items() %}
                    <h6 class="mt-4">{{ name }}</h6>
                    {% for time, hour in free.items() %}
                        <a href="{{ url_for('main.render_booking', id=teacher.id, code=code, hour=hour) }}"
                           class="btn btn-outline-success mr-2">{{ time }} свободно</a>
                    {% else %}
                        <p>Нет свободных уроков</p>
                    {% endfor %}
                {% endfor %}
            </section>

          </div>
        </article>
      </div>

    </div>
{% endblock %}